
<h3>Flight booking...</h3>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item border bg-body-secondary">
            <a class="nav-link " routerLink="/flights/flight-search" routerLinkActive="active">Flights-search</a>
          </li>
          <li class="nav-item border bg-body-secondary">
            <a class="nav-link " routerLink="/flights/flight-list" routerLinkActive="active">Flight-List</a>
          </li>
  
        </ul>
  
      </div>
    </div>
  </nav> -->
  <button type="button" class="bg-body-primary ms-2" routerLink="/flights/flight-search">SearchFlight</button>
  <button type="button" class="bg-body-primary ms-2" routerLink="/flights/flight-list">flightList</button>

  <router-outlet></router-outlet>
 

  
